benchmarks/results
test-output/
TODO
!/.gitignore
!/.scalafmt.conf
.tags*
.idea*
*.log
.DS_Store
target/
/.lib/
project/target/
.classpath
TAGS
.tags
project/metals.sbt
.metals
site/Gemfile.lock

# Android studio 3.1+ serialized cache file
.idea/caches/build_file_checksums.ser

.idea/modules